@use "../vars" as *;

.form {
  height: 5rem;
  border-radius: $radius;
  background-color: $white-1;
  @include flex(center, center, row, 2rem);
  padding: 0 1rem;

  &__input {
    width: 65%;
    height: 4rem;
    border-radius: $radius;
    padding: 1rem;
    border: 2px solid transparent;
    transition: border $speed, box-shadow $speed;
    color: $black-3;
    background-color: $white-1;

    &:hover {
      border-color: $black-3;
    }
    &:focus {
      outline: none;
      border-color: $pale-blue;
    }
  }

  &__btns {
    @include flex;
    gap: 2rem;
  }

  &__btn {
    width: 6.25em;
    height: 2.5em;
    border-radius: $radius;
    background-color: $pale-blue;
    border: 2px solid transparent;
    cursor: pointer;
    @include flex(center, center, row, 1rem);
    transition: transform $speed;
    font-size: 1.4rem;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
    &:focus {
      border-color: $black-3;
    }

    &:first-child {
      background-color: $white-1;
    }
  }

  &__icon {
    height: 1.25em;
  }

  /* MEDIA QUERYs*/

  @media screen and (max-width: 540px) {
    & {
      height: auto;
      flex-direction: column;
      gap: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &__btns,
    &__input {
      width: 100%;
    }

    &__btns {
      justify-content: center;
      gap: 1rem;
    }

    &__btn {
      width: 100%;
    }
  }
}
